# Environment variables
.env
.env.local

# Virtual environment
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Django
*.sqlite3
db.sqlite3
/static/
/media/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
